<form>
  <div class="form-set">
    <label>貸款類型</label>
    <div class="radio-sets">
      <input type="radio" />
      <b>一般貸款</b>
      <input type="radio" />
      <b>青安貸款</b>
      <input type="radio" />
      <b>組合貸款</b>
    </div>
  </div>
  <div class="form-set">
    <label>計算方式</label>
    <select class="">
      <option value="LOAN">按貸款總額</option>
      <option value="HOUSE">按房屋總價</option>
    </select>
  </div>
  <div class="form-set">
    <label>貸款總額</label>
    <div class="amount">
      <input
        placeholder="請輸入貸款總額"
        [(ngModel)]="amountVal"
        name="amount"
        (input)="valuechange($event)"
      />
      <span>萬元</span>
    </div>
  </div>
  <div class="form-set">
    <label>貸款期限</label>
    <select [(ngModel)]="termsVal.terms" name="terms">
      <option *ngFor="let t of termOptions" [ngValue]="t.terms">
        {{ t.name }}
      </option>
    </select>
  </div>
  <div class="form-set">
    <label>寬限期</label>
    <select class="">
      <option value="0">0年</option>
      <option value="1">1年</option>
      <option value="2">2年</option>
      <option value="3">3年</option>
      <option value="4">4年</option>
      <option value="5">5年</option>
    </select>
  </div>
  <div class="form-set">
    <label>利率方式</label>
    <select class="">
      <option value="SINGLE">單一利率</option>
      <option value="MULTIPLE">多段利率</option>
    </select>
  </div>
  <div class="form-set">
    <label>年利率</label>
    <select [(ngModel)]="interestRateVal.rate" name="rate">
      <option *ngFor="let i of interestRates" [ngValue]="i.rate">
        {{ i.name }}
      </option>
    </select>
  </div>
  <div class="btn-group">
    <div class="btn" (click)="btnClick()">開始計算</div>
  </div>
</form>
